mat-form-field {
  width: 80%;
  margin: .3rem 10%;
}
mat-card {
  widows: 80%;
  margin: 1rem 10%;
}

.form-action {
  &[align='end'] {
    justify-content: flex-end;
  }

  &[align='center'] {
    justify-content: center;
  }
}
